<h4 class="pull-left" style="margin-top: 2px;">Your order</h4>
<div class="pull-right">
  <select class="form-control input-sm">
    <option>Newest</option>
    <option>Top rated</option>
    <option>Sold out</option>
  </select>
</div>
<div class="clearfix"></div>
<div class="table-responsive scrollbars">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Rhino Name</th>
        <th>Nature Of Injury</th>
        <th>Descriprion</th>
        <th>Reporter</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Rambo</td>
        <td>Gun Wounds</td>
        <td>Multiple fatel gun wounds on the on the stomach and head. Both horns removed. Pochers escaped.</td>
        <td>Ntokozo</td>
      </tr>
      <tr>
        <td>Sally</td>
        <td>Sharp object wounds</td>
        <td>Cuts onto the torso, horns removed</td>
        <td>Arthur</td>
      </tr>
      <tr>
        <td>Bobo</td>
        <td>Gun Wounds</td>
        <td>Multiple fatel gun wounds on the on the stomach and head. Both horns removed. Pochers escaped.</td>
        <td>Kelly</td>
      </tr>
      <tr>
        <td>Bob</td>
        <td>Sharp object wounds</td>
        <td>Cuts onto the torso, horns removed</td>
        <td>Nic</td>
      </tr>
      <tr>
        <td>John Doe</td>
        <td>Gun Wounds</td>
        <td>Multiple fatel gun wounds on the on the stomach and head. Both horns removed. Pochers escaped.</td>
        <td>Kim</td>
      </tr>
    </tbody>
  </table>
</div>
