<header class="site-header">
  <nav class="navbar navbar-fixed-top"> <!-- IMPORTANT: add the class `navbar-fixed-top` to position it at the top of the window -->

    <!-- Left utility nav -->
    <ul class="nav navbar-nav navbar-left">
      <!-- Desktop menu toggle -->
      <li class="desktop-menu-toggle hidden-mobile">
        <a href="#" data-toggle="desktop-menu" title="Desktop menu">
          <div class="hidden-closed">Close</div>
          <div class="hidden-opened"></div>
        </a>
      </li>
      <li>
        <!-- Company logo -->
        <a class="horizontal-logo" href="/" title="Return home">
          <div class="logo-image" title="NTT"></div>
          <div class="logo-title"><span>Connected<br>Conservation</span></div>
        </a>
      </li>
    </ul>

  </nav>

</header>

