<header class="jumbotron jumbo">
    <div class="grid grid-container--lg">
        <div class="column--xs-12 column--md-9 column--xxl-10">
            <h1>Rhinos lost</h1>
        </div>
    </div>
</header>
<section>
    <header class="jumbotron">
        <div class="grid grid-container--lg">
            <div class="column--12">
                <h2>Rhinos lost in 2013</h2>
                <p class="wide">
                    Rhinos that have been lost during the year 2013 for various reasons that have been detailed in the section bellow.
                </p>
            </div>
        </div>
    </header>
</section>