<header class="jumbotron jumbo">
    <div class="grid grid-container--lg">
        <div class="column--xs-12 column--md-9 column--xxl-10">
            <h1>Fund Tracker</h1>
        </div>
    </div>
</header>
<section>
    <header class="jumbotron">
        <div class="grid grid-container--lg">
            <div class="column--12">
                <h2>Connected Conservation Fund Tracker</h2>
                <p class="wide">
                    Some data used to describe how the funds are being tracked.
                </p>
            </div>
        </div>
    </header>
</section>