<header class="jumbotron jumbo">
  <div class="grid grid-container--lg">
    <div class="column--xs-12 column--md-9 column--xxl-10">
      <h1>Impact</h1>
    </div>
  </div>
</header>
<section>
  <header class="jumbotron">
    <div class="grid grid-container--lg">
      <div class="column--12">
        <h2>Connected Conservation Impact</h2>
        <p class="wide">
          Some data to describe the impact that connected conservation has had on the environkment. Preferrably an introduction to the data
          that is going to follow below.
        </p>
      </div>
    </div>
  </header>
  <!-- <div class="content-area">
    <div class="grid grid-container--lg" style="height: 25px;"></div>
  </div> -->
  <hr>
  <div class="content-area">
    <div class="grid grid-container--lg">
      <div class="column--md-4">
        <mat-card class="card-properties">
          <mat-card-header>
            <mat-card-title style="color: red;"><b>200</b></mat-card-title>
            <mat-card-subtitle>Total number of rhino's killed</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="column--md-4">
        <mat-card class="card-properties">
          <mat-card-header>
            <mat-card-title style="color: #FF8C00;"><b>160</b></mat-card-title>
            <mat-card-subtitle>Number of positive covid infections in SA</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="column--md-4">
        <mat-card class="card-properties">
          <mat-card-header>
            <mat-card-title style="color: #228B22;"><b>46</b></mat-card-title>
            <mat-card-subtitle>Total number Rhinos saved</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>

      <div class="column--md-4">
        <mat-card class="card-properties">
          <mat-card-header>
            <mat-card-title><b>Impact</b></mat-card-title>
            <mat-card-subtitle>Rhinos lost between 2013 - 2017</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <app-lost-rhino-chart></app-lost-rhino-chart>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="column--md-4">
        <mat-card class="card-properties">
          <mat-card-header>
            <mat-card-title><b>Impact</b></mat-card-title>
            <mat-card-subtitle>Poacher tracks found 2013 - 2017</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <app-poacher-tracks></app-poacher-tracks>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="column--md-4">
        <mat-card class="card-properties">
          <mat-card-header>
            <mat-card-title><b>Impact</b></mat-card-title>
            <mat-card-subtitle>Suspects neutralised between 2013 - 2017</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <app-suspects-neutralised></app-suspects-neutralised>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <hr>
  <!-- <div class="content-area">
    <div class="grid grid-container--lg" style="height: 25px;"></div>
  </div> -->
</section>
